/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Sora:wght@400;700&display=swap');

/* ********* Universal selector ********  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ********* Universal selector end ********  */

body {
  font-family: poppins, 'sans-serif';
  line-height: 1.6;
  color: var(--body-color);
}
